$primary: #F99E2F;
$secondary: #E4E6EA;
$body-bg: #FFFFFF;
$body-color: #030303;
$navbar-bg: #FFFFFF;
$navbar-color: #030303;
$btn-primary-color: #FFFFFF;
$btn-primary-bg: #F99E2F;
$btn-secondary-color: #030303;
$btn-secondary-bg: #E4E6EA;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $body-bg;
}

body {
    display: flex;
    flex-direction: column;
    color: $body-color;
}

.header, .footer {
    flex-shrink: 0;
    width: 100%;
    background-color: $navbar-bg;
}

.header {
    margin: 0;
    padding: 0;
}

.header .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.container-flex {
    flex: 1;
    padding: 15px;
}

.footer {
    border-top: 1px solid $btn-secondary-bg;
    text-align: center;
    padding: 10px 0;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand {
    color: $primary !important;
}

.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;

    &:hover {
        background-color: darken($btn-primary-bg, 10%);
        border-color: darken($btn-primary-bg, 10%);
    }
}

.btn-secondary {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-bg;

    &:hover {
        background-color: darken($btn-secondary-bg, 10%);
        border-color: darken($btn-secondary-bg, 10%);
    }
}

/* Custom styles for the Cart view */
.card-header.bg-warning {
    background-color: $primary;
}

/* Custom styles for the primary and secondary background colors */
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}