@if (User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear-fill"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Manage Shop Items</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Discount">Manage Discounts</a></li>
        </ul>
    </li>
}